@import "tailwindcss";
@import "@heroui/styles";
@plugin "@tailwindcss/typography";

* {
  box-sizing: border-box;
}

html {
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

body {
  background-color: #fafafa;
  margin: 0;
}

main {
  min-height: calc(100vh - 8.25rem);
}

/* some useful defaults */
@layer base {
  h2.title {
    @apply pt-30 pb-12 text-5xl font-bold flex justify-center;
  }
}

/* overriding some HeroUI styles */
@layer components {
  .toast {
    align-items: center;
  }
}
